<div class="page-header">
	<h1>All of the Statuses</h1>
</div>

<h3><%= link_to "Post New Status", new_status_path, class: "btn btn-success" %></h3>

<% @statuses.each do |status| %>
<div class="status">
	<strong><%= status.name %></strong>
	<p><%= status.status %></p>
	<div class="meta">
		<%= link_to time_ago_in_words(status.created_at) + " ago", status %>
		<span class="admin">
			| <%= link_to "Edit", edit_status_path(status) %> |
			<%= link_to "Trash", status, method: :delete, data: {confirm: "Really?"} %>
	</div>
</div>
<% end %>